.container {
    width: 400px;
    height: auto;
    margin-bottom: 0px;
    border: 0px inset var(--border-color);
    background-color: var(--container-background-color);
}

.caption {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    height: 30px;
    margin-bottom: 0px;
    cursor: pointer;
    border: 1px var(--border-color);
    background-color: var(--caption-background-color);
}

.title {
    margin: auto;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--header-color);

}

.toggle {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin-right: 10px;
    background-color: var(--caption-background-color);
    background: url("spinner.png");
}

.content {
    margin: auto;
    opacity: 1;
}

.containerCollapsed .toggle {
    transform: rotate(180deg);
}

.containerCollapsed .content {
    height: 0;
    max-height: 0;
    opacity: 0;
}