:root {
  --text-color: #192000;
  --header-color: #140f0b;
  --border-color: #a1a1a1;
  --background-color: white;
  --container-background-color: #bdbdbd;
  --caption-background-color: #a1a1a1;
}

body {
  font-family: Consolas;
  font-size: 14px;
  margin: 0;
  color: var(--text-color);
 }